<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pythia - Machine Learning Experiment Platform | Dashboard</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,greek' rel='stylesheet' type='text/css'>-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pythia</a>
            </div>
        </div>
    </nav>

    <div class="container main-container">
        <div id="vue-instance">
            <div>
                <div class="text-center">
                    <h1>Recent Experiments</h1>
                </div>

                <div class="exp-stream"
                    v-if="experiments.length > 0">
                    <input
                        v-model="searchText"
                        class="search-input form-control"
                        type="text"
                        placeholder="Search name or description">

                    <div v-for="exp in experiments">
                        <div class="fade-enter panel panel-default">
                            <div class="panel-heading">
                                <a href="/experiment/${ exp._id }">
                                    <h3 id="${ exp._id ]]" class="panel-title">${ exp.name }</h3>
                                </a>
                                <button type="button"
                                    class="btn btn-warning btn-sm"
                                    v-on:click="deleteExperiment(exp._id)">
                                        <span class="glyphicon glyphicon-trash"
                                            aria-hidden="true"></span>
                                </button>
                            </div><!-- .panel-heading fin -->

                            <div class="panel-body">
                                <p>${ exp.date_added }</p>
                                <p class="exp-descr">
                                    ${ exp.description }
                                </p>

                                <a href="/experiment/${ exp._id }">
                                    <button class="btn btn-primary" type="button">
                                        Models <span class="badge">${ exp.models.length }</span>
                                    </button>
                                </a>
                            </div><!-- .panel-body fin -->
                        </div><!-- .panel fin -->
                    </div><!-- for exp in experiments fin -->
                </div><!-- .exp-stream fin -->
            </div>
        </div>
    </div>

    <script src="/js/superagent.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>
